// .kalnia-<uniquifier> {
//   font-family: "Kalnia", serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
//   font-variation-settings:
//     "wdth" 100;
// }

// .roboto-thin {
//   font-family: "Roboto", sans-serif;
//   font-weight: 100;
//   font-style: normal;
// }



@import "./blocks/reset.scss";
@import "./blocks/header.scss";
@import "./blocks/footer.scss";



%flexbetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper {
  max-width: 1580px;
  width: 100%;
  margin: 0 auto;
}

.hero {
  background-image: url(../images/hero-img.png);
  height: 560px;
}
