@media (max-width: $tablet) {
  .container {
    width: 90%;
  }
  .btn-primary {
    font-size: 20px;
    line-height: 23px;
  }
  .nav__list {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .mobile-menu {
    padding: 20px 0 20px 48px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: -28px;
    display: flex;
    justify-content: space-between;
    width: 238px;
  }
  .footer {
    &__inner {
      row-gap: 30px;
    }
    &__block-1,
    &__block-2 {
      width: 47%;
    }
    &__block-3 {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__contact {
      width: 47%;
    }

    .subscription {
      max-width: unset;
      width: 47%;
    }
  }
  .description {
    max-width: none;
  }

  .section {
    &__title {
      font-size: 40px;
      font-weight: 500;
      line-height: 46.88px;
    }
    &__description {
      @extend %font-20-400;
    }
  }
  .services {
    .card {
      width: 46%;
      &__title {
        font-size: 28px;
        line-height: 32px;
      }
      &__description {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .container {
    width: 80%;
  }

  .logo a {
    font-size: 28px;
    line-height: 37px;
    font-weight: 500;
  }
  .list-title {
    font-size: 28px;
  }

  .footer {
    font-size: 20px;
    &__block-1,
    &__block-2 {
      width: 100%;
    }
    &__block-3 {
      flex-direction: column;
    }
  }
  .services {
  
    .card {
      width: 100%;
      &__title {
        font-size: 20px;
        line-height: 23px;
      }
    }
  }
}
